---
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const posts = (await getCollection("blog", (entry) => entry.slug))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .map<CollectionEntry<"blog"> & { href: string }>((post) => {
    return {
      href: Astro.url + post.slug + "/",
      ...post,
    }
  })

import Hero from "@/components/Hero.astro"
import FormattedDate from "@/components/FormattedDate.astro"
import { SITE_TITLE } from "@/consts"
---

<Layout title={SITE_TITLE}>
  <Hero />
  <ul class="mx-auto mt-8 flex max-w-3xl list-none flex-col items-center gap-0">
    {
      posts.map((post: any, index: number) => (
        <li class={`${index === 0 ? "mb-4 w-full border-b border-neutral" : "w-5/6"} text-left`}>
          <a href={post.href} class={`${index === 0 && "mb-4"} group block rounded-xl transition-colors duration-200 hover:bg-neutral`}>
            <div class="p-4" transition:name={`title-${post.data.title}`} transition:animate="initial">
              <h1 class="mb-2 text-lg font-bold duration-200 group-hover:text-primary lg:text-xl">{post.data.title}</h1>
              <p>{post.data.description}</p>
              <FormattedDate date={post.data.publishDate} />
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
